In [1]:
# importando bibliotecas
import pandas as pd
import numpy as np

In [2]:
#Conversão dos csvs em dataframes
df_2019 = pd.read_csv('../Dados/PySUS/sim_data_cleaned_2019.csv')
df_2020 = pd.read_csv('../Dados/PySUS/sim_data_cleaned_2020.csv')
df_2021 = pd.read_csv('../Dados/PySUS/sim_data_cleaned_2021.csv')

In [3]:
# Incluindo os valores de ano a cada dataframe
df_2019['ANO'] = '2019'
df_2020['ANO'] = '2020'
df_2021['ANO'] = '2021'

In [4]:
# Renomeando a primeira coluna
df_2019.rename(columns={'Unnamed: 0': 'Id_Pessoa'}, inplace=True)
df_2020.rename(columns={'Unnamed: 0': 'Id_Pessoa'}, inplace=True)
df_2021.rename(columns={'Unnamed: 0': 'Id_Pessoa'}, inplace=True)

In [5]:
# Concatenação dos 3 dataframes em um unico df
df_merge = pd.concat([df_2019,df_2020,df_2021],ignore_index=True)
df_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40564 entries, 0 to 40563
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Id_Pessoa   40564 non-null  int64
 1   RACACOR     40564 non-null  object
 2   SEXO        40564 non-null  int64
 3   DTOBITO     40564 non-null  object
 4   DTNASC      40564 non-null  object
 5   UF          40564 non-null  object
 6   IDADE_ANOS  40564 non-null  float64
 7   CIRCOBITO   40564 non-null  int64
 8   ANO         40564 non-null  object
dtypes: float64(1), int64(3), object(5)
memory usage: 2.8+ MB

In [6]:
# Realizando o tratamento de valores numéricos em suas respectivas categorias

mapeamento = {'1':'Branca', '2':'Preta', '3':'Amarela','4':'Parda','5':'Indígena'}
df_merge['RACACOR'] = df_merge['RACACOR'].replace(mapeamento)

#Verificando o resultado
df_merge['RACACOR'].value_counts()

RACACOR
Branca      19541
Parda       17902
Preta        2163
              500
Indígena      343
Amarela       115
Name: count, dtype: int64

In [8]:
#Incluindo uma coluna com os nomes dos estados em extenso

df_merge['ESTADO'] = df_merge['UF']
mapeamento = {
    "AC":"Acre",
    "AL":"Alagoas",
    "AP":"Amapá",
    "AM":"Amazonas",
    "BA":"Bahia",
    "CE":"Ceará",
    "DF":"Distrito Federal",
    "ES":"Espírito Santo",
    "GO":"Goiás",
    "MA":"Maranhão",
    "MT":"Mato Grosso",
    "MS":"Mato Grosso do Sul",
    "MG":"Minas Gerais",
    "PA":"Pará",
    "PB":"Paraíba",
    "PR":"Paraná",
    "PE":"Pernambuco",
    "PI":"Piauí",
    "RJ":"Rio de Janeiro",
    "RN":"Rio Grande do Norte",
    "RS":"Rio Grande do Sul",
    "RO":"Rondônia",
    "RR":"Roraima",
    "SC":"Santa Catarina",
    "SP":"São Paulo",
    "SE":"Sergipe",
    "TO":"Tocantins"
    
}

df_merge['ESTADO'] = df_merge['ESTADO'].replace(mapeamento)
df_merge

,Id_Pessoa,RACACOR,SEXO,DTOBITO,DTNASC,UF,IDADE_ANOS,CIRCOBITO,ANO,ESTADO
0,0,Parda,1,2019-01-01,1990-02-01,AC,29.0,2,2019,Acre
1,1,Parda,1,2019-06-30,1987-08-05,AC,32.0,2,2019,Acre
2,2,Parda,1,2019-07-04,1986-02-24,AC,33.0,2,2019,Acre
3,3,Branca,1,2019-01-20,1973-05-19,AC,46.0,2,2019,Acre
4,4,Parda,1,2019-01-21,1964-07-01,AC,55.0,2,2019,Acre
...,...,...,...,...,...,...,...,...,...,...
40559,14686,Parda,1,2021-12-08,1987-08-26,TO,34.0,2,2021,Tocantins
40560,14687,Parda,1,2021-11-27,1955-01-18,TO,66.0,2,2021,Tocantins
40561,14688,Parda,1,2021-11-14,1990-01-10,TO,31.0,2,2021,Tocantins
40562,14689,Parda,1,2021-11-14,1977-04-19,TO,44.0,2,2021,Tocantins
40563,14690,Branca,1,2021-07-17,1985-09-07,TO,36.0,2,2021,Tocantins

In [9]:
# Usando o index do dataframe para criar um id para as pessoas
id_pessoa =df_merge.index
df_merge['Id_Pessoa'] = id_pessoa

# Tornando em string para não ser usada em operações matemáticas além de contagem
df_merge['Id_Pessoa'] = df_merge['Id_Pessoa'].astype(str)

In [10]:
# Realizando o tratamento de valores numéricos em suas respectivas categorias
mapeamento = {1:'Masculino', 2:'Feminino',0:'Não identificado'}
df_merge['SEXO'] = df_merge['SEXO'].replace(mapeamento)  

df_merge['CIRCOBITO'] = df_merge['CIRCOBITO'].replace({2:'Suicidio'}) 



#Verificando o resultado
df_merge['SEXO'].value_counts()

SEXO
Masculino           31730
Feminino             8833
Não identificado        1
Name: count, dtype: int64

In [11]:
#Obtendo casos onde o campo RACACOR tem uma string em branco
df_not_equal = df_merge[df_merge['RACACOR'] != 'Branca']
df_not_equal = df_not_equal[df_not_equal['RACACOR'] != 'Parda']
df_not_equal = df_not_equal[df_not_equal['RACACOR'] != 'Preta']
df_not_equal = df_not_equal[df_not_equal['RACACOR'] != 'Indígena']
df_not_equal = df_not_equal[df_not_equal['RACACOR'] != 'Amarela']

#Obtendo os índices onde temos onde RACACOR tem uma string em branco
indices_a_excluir = df_not_equal.index.to_list()

#Excluindo esses valores em branco a partir de seus indices
df_merge.drop(indices_a_excluir, inplace=True)
df_merge['RACACOR'].value_counts()

RACACOR
Branca      19541
Parda       17902
Preta        2163
Indígena      343
Amarela       115
Name: count, dtype: int64

In [12]:
df_merge

,Id_Pessoa,RACACOR,SEXO,DTOBITO,DTNASC,UF,IDADE_ANOS,CIRCOBITO,ANO,ESTADO
0,0,Parda,Masculino,2019-01-01,1990-02-01,AC,29.0,Suicidio,2019,Acre
1,1,Parda,Masculino,2019-06-30,1987-08-05,AC,32.0,Suicidio,2019,Acre
2,2,Parda,Masculino,2019-07-04,1986-02-24,AC,33.0,Suicidio,2019,Acre
3,3,Branca,Masculino,2019-01-20,1973-05-19,AC,46.0,Suicidio,2019,Acre
4,4,Parda,Masculino,2019-01-21,1964-07-01,AC,55.0,Suicidio,2019,Acre
...,...,...,...,...,...,...,...,...,...,...
40559,40559,Parda,Masculino,2021-12-08,1987-08-26,TO,34.0,Suicidio,2021,Tocantins
40560,40560,Parda,Masculino,2021-11-27,1955-01-18,TO,66.0,Suicidio,2021,Tocantins
40561,40561,Parda,Masculino,2021-11-14,1990-01-10,TO,31.0,Suicidio,2021,Tocantins
40562,40562,Parda,Masculino,2021-11-14,1977-04-19,TO,44.0,Suicidio,2021,Tocantins
40563,40563,Branca,Masculino,2021-07-17,1985-09-07,TO,36.0,Suicidio,2021,Tocantins

In [13]:
df_totals = df_merge.groupby(['ANO','UF','ESTADO']).size().reset_index(name='TOTAL')
# count by racacor by UF and ANO
df_totals_racacor = df_merge.groupby(['ANO','UF','ESTADO','RACACOR']).size().reset_index(name='TOTAL')
# I want to add a column for each racacor with the total of each racacor by UF and ANO

df_totals_racacor

      ANO  UF     ESTADO   RACACOR  TOTAL
0    2019  AC       Acre    Branca     12
1    2019  AC       Acre  Indígena      4
2    2019  AC       Acre     Parda     49
3    2019  AL    Alagoas    Branca      3
4    2019  AL    Alagoas     Parda    110
..    ...  ..        ...       ...    ...
310  2021  SP  São Paulo     Preta    115
311  2021  TO  Tocantins    Branca     25
312  2021  TO  Tocantins  Indígena      2
313  2021  TO  Tocantins     Parda    110
314  2021  TO  Tocantins     Preta     19

[315 rows x 5 columns]

In [14]:
# Calculate the percentage of total population for each row
df_totals_racacor['percentage_of_total'] = (df_totals_racacor['TOTAL'] / df_totals_racacor.groupby(['ANO', 'UF','ESTADO'])['TOTAL'].transform('sum')) * 100
df_totals_racacor

      ANO  UF     ESTADO   RACACOR  TOTAL  percentage_of_total
0    2019  AC       Acre    Branca     12            18.461538
1    2019  AC       Acre  Indígena      4             6.153846
2    2019  AC       Acre     Parda     49            75.384615
3    2019  AL    Alagoas    Branca      3             2.654867
4    2019  AL    Alagoas     Parda    110            97.345133
..    ...  ..        ...       ...    ...                  ...
310  2021  SP  São Paulo     Preta    115             4.740313
311  2021  TO  Tocantins    Branca     25            16.025641
312  2021  TO  Tocantins  Indígena      2             1.282051
313  2021  TO  Tocantins     Parda    110            70.512821
314  2021  TO  Tocantins     Preta     19            12.179487

[315 rows x 6 columns]

In [15]:
# Convertendo o dataframe em csv 
df_totals_racacor.to_csv("../Dados/Dataset_Power_BI/Dados_PYSUS.csv")