In [1]:
# importando bibliotecas
import pandas as pd
import numpy as np

In [2]:
#Conversão dos csvs em dataframes
df_2019 = pd.read_csv('../Dados/sim_data_cleaned_2019.csv')
df_2020 = pd.read_csv('../Dados/sim_data_cleaned_2020.csv')
df_2021 = pd.read_csv('../Dados/sim_data_cleaned_2021.csv')

In [3]:
df_2019['ANO'] = '2019'
df_2020['ANO'] = '2020'
df_2021['ANO'] = '2021'

In [5]:
df_2019.rename(columns={'Unnamed: 0': 'Id_Pessoa'}, inplace=True)
df_2020.rename(columns={'Unnamed: 0': 'Id_Pessoa'}, inplace=True)
df_2021.rename(columns={'Unnamed: 0': 'Id_Pessoa'}, inplace=True)

In [7]:
# Concatenação dos 3 dataframes em um unico df
df_merge = pd.concat([df_2019,df_2020,df_2021],ignore_index=True)
df_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40564 entries, 0 to 40563
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Id_Pessoa   40564 non-null  int64
 1   RACACOR     40564 non-null  object
 2   SEXO        40564 non-null  int64
 3   DTOBITO     40564 non-null  object
 4   DTNASC      40564 non-null  object
 5   UF          40564 non-null  object
 6   IDADE_ANOS  40564 non-null  float64
 7   CIRCOBITO   40564 non-null  int64
 8   ANO         40564 non-null  object
dtypes: float64(1), int64(3), object(5)
memory usage: 2.8+ MB

In [8]:
# Realizando o tratamento de valores numéricos em suas respectivas categorias

mapeamento = {'1':'Branca', '2':'Preta', '3':'Amarela','4':'Parda','5':'Indígena'}
df_merge['RACACOR'] = df_merge['RACACOR'].replace(mapeamento)

#Verificando o resultado
df_merge['RACACOR'].value_counts()

RACACOR
Branca      19541
Parda       17902
Preta        2163
              500
Indígena      343
Amarela       115
Name: count, dtype: int64

In [9]:
# Realizando o tratamento de valores numéricos em suas respectivas categorias

mapeamento = {1:'Masculino', 2:'Feminino',0:'Não identificado'}
df_merge['SEXO'] = df_merge['SEXO'].replace(mapeamento)  

#Verificando o resultado
df_merge['SEXO'].value_counts()

SEXO
Masculino           31730
Feminino             8833
Não identificado        1
Name: count, dtype: int64

In [10]:
#Obtendo casos onde o campo RACACOR tem uma string em branco
df_not_equal = df_merge[df_merge['RACACOR'] != 'Branca']
df_not_equal = df_not_equal[df_not_equal['RACACOR'] != 'Parda']
df_not_equal = df_not_equal[df_not_equal['RACACOR'] != 'Preta']
df_not_equal = df_not_equal[df_not_equal['RACACOR'] != 'Indígena']
df_not_equal = df_not_equal[df_not_equal['RACACOR'] != 'Amarela']

#Obtendo os índices onde temos onde RACACOR tem uma string em branco
indices_a_excluir = df_not_equal.index.to_list()

#Excluindo esses valores em branco a partir de seus indices
df_merge.drop(indices_a_excluir, inplace=True)
df_merge['RACACOR'].value_counts()

RACACOR
Branca      19541
Parda       17902
Preta        2163
Indígena      343
Amarela       115
Name: count, dtype: int64

In [11]:
colunas = df_merge.columns.to_list()
print(colunas)

['Id_Pessoa', 'RACACOR', 'SEXO', 'DTOBITO', 'DTNASC', 'UF', 'IDADE_ANOS', 'CIRCOBITO', 'ANO']

In [15]:
dados_SUS = df_merge.groupby(['SEXO','RACACOR','UF'])[['ANO']].nunique()
display(dados_SUS)

                             ANO
SEXO             RACACOR UF
Feminino         Amarela AP    1
                         BA    2
                         DF    1
                         MA    1
                         MG    2
...                          ...
Masculino        Preta   SC    3
                         SE    3
                         SP    3
                         TO    3
Não identificado Parda   PI    1

[218 rows x 1 columns]