In [3]:
# importando bibliotecas
import pandas as pd
import numpy as np

In [5]:
# Alocação dos csvs em Dataframes
# df_2019 = pd.read_csv('./Dados/sim_data_cleaned_2019.csv')
# df_2020 = pd.read_csv('./Dados/sim_data_cleaned_2020.csv')
# df_2021 = pd.read_csv('./Dados/sim_data_cleaned_2021.csv')

df_2019 = pd.read_csv('sim_data_cleaned_2019.csv')
df_2020 = pd.read_csv('sim_data_cleaned_2020.csv')
df_2021 = pd.read_csv('sim_data_cleaned_2021.csv')

In [6]:
# Merge dos 3 Dataframes em um só
df_merge = pd.concat([df_2019,df_2020,df_2021],ignore_index=True)
df_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40564 entries, 0 to 40563
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  40564 non-null  int64
 1   RACACOR     40564 non-null  object
 2   SEXO        40564 non-null  int64
 3   DTOBITO     40564 non-null  object
 4   DTNASC      40564 non-null  object
 5   UF          40564 non-null  object
 6   IDADE_ANOS  40564 non-null  float64
 7   CIRCOBITO   40564 non-null  int64
dtypes: float64(1), int64(3), object(4)
memory usage: 2.5+ MB

In [7]:
df_merge['UF'].value_counts()

UF
SP    6926
MG    4857
RS    4341
PR    2823
SC    2350
RJ    2170
BA    2136
CE    1965
GO    1765
PE    1392
PA    1076
PI     991
MA     927
MS     795
PB     739
ES     704
MT     695
RN     650
AM     606
DF     579
AL     431
RO     413
TO     400
SE     366
AC     203
AP     153
RR     111
Name: count, dtype: int64