In [11]:
import pandas as pd

In [12]:
# União dos dois CSVs tratados em um novo df unicado

dfpop = pd.read_csv("../Dados/Agrupamentos/Dados_Censo.csv")
dfsus = pd.read_csv("../Dados/Agrupamentos/Dados_PYSUS.csv")

In [14]:
#Incluindo uma coluna com os nomes dos estados em extenso
mapeamento = {
    "AC":"Acre",
    "AL":"Alagoas",
    "AP":"Amapá",
    "AM":"Amazonas",
    "BA":"Bahia",
    "CE":"Ceará",
    "DF":"Distrito Federal",
    "ES":"Espírito Santo",
    "GO":"Goiás",
    "MA":"Maranhão",
    "MT":"Mato Grosso",
    "MS":"Mato Grosso do Sul",
    "MG":"Minas Gerais",
    "PA":"Pará",
    "PB":"Paraíba",
    "PR":"Paraná",
    "PE":"Pernambuco",
    "PI":"Piauí",
    "RJ":"RJ",
    "RN":"Rio Grande do Norte",
    "RS":"Rio Grande do Sul",
    "RO":"Rondônia",
    "RR":"Roraima",
    "SC":"Santa Catarina",
    "SP":"SP",
    "SE":"Sergipe",
    "TO":"Tocantins"
}

result_df['UF'] = result_df['UF'].replace(mapeamento)
result_df

,ANO,UF,RACACOR,TOTAL_POPULATION,PERCENTAGE_TOTAL_POPULATION,TOTAL_SUICIDALS,PERCENTAGE_TOTAL_SUICIDALS
0,2019,Rondônia,Branca,494760,0.282828,44,0.330827
1,2019,Acre,Branca,155700,0.183673,12,0.184615
2,2019,Roraima,Branca,108000,0.215054,7,0.175000
3,2019,Pará,Branca,1540980,0.183673,37,0.114551
4,2019,Amapá,Branca,150840,0.180000,2,0.033333
...,...,...,...,...,...,...,...
228,2021,Rio Grande do Sul,Parda,1488240,0.130000,77,0.052345
229,2021,Mato Grosso do Sul,Parda,1384000,0.505051,149,0.508532
230,2021,Mato Grosso,Parda,2107200,0.606061,138,0.563265
231,2021,Goiás,Parda,4253310,0.595960,388,0.621795
232,2021,Distrito Federal,Parda,1546000,0.505051,102,0.548387

In [13]:
result_df = pd.merge(dfpop, dfsus, on=['ANO', 'UF','RACACOR'], how='inner')

#Rename columns for clarity
result_df = result_df.rename(columns={
    'TOTAL_PESSOAS_x': 'TOTAL_POPULATION',
    'TOTAL_PESSOAS_y': 'TOTAL_SUICIDALS',
    'CENSO_total/sum_pessoas_racacor': 'PERCENTAGE_TOTAL_POPULATION',
    'sim_total/sum_pessoas_racacor': 'PERCENTAGE_TOTAL_SUICIDALS'
}).drop(['Unnamed: 0_x', 'Unnamed: 0_y'], axis=1)

result_df

,ANO,UF,RACACOR,TOTAL_POPULATION,PERCENTAGE_TOTAL_POPULATION,TOTAL_SUICIDALS,PERCENTAGE_TOTAL_SUICIDALS
0,2019,RO,Branca,494760,0.282828,44,0.330827
1,2019,AC,Branca,155700,0.183673,12,0.184615
2,2019,RR,Branca,108000,0.215054,7,0.175000
3,2019,PA,Branca,1540980,0.183673,37,0.114551
4,2019,AP,Branca,150840,0.180000,2,0.033333
...,...,...,...,...,...,...,...
228,2021,RS,Parda,1488240,0.130000,77,0.052345
229,2021,MS,Parda,1384000,0.505051,149,0.508532
230,2021,MT,Parda,2107200,0.606061,138,0.563265
231,2021,GO,Parda,4253310,0.595960,388,0.621795
232,2021,DF,Parda,1546000,0.505051,102,0.548387

In [15]:
result_df['PERCENTAGE_SUICIDALS'] = result_df['TOTAL_SUICIDALS'] / result_df['TOTAL_POPULATION']

In [32]:
df_rs = result_df.where((result_df['UF'] == 'Rio Grande do Sul') & (result_df['ANO'] == 2021)).dropna()
df_rs['PERCENTAGE_SUICIDALS'].sum() * 100

0.029351929829451378

In [17]:
# Convertendo o dataframe em csv 
result_df.to_csv("../Dados/Agrupamentos/Dados_Mergados.csv")

In [ ]:
# Agrupamento dados pysus
sim19 = pd.read_csv("../Dados/PySUS/sim_data_cleaned_2019.csv")
sim19['ANO'] = 2019
sim20 = pd.read_csv("../Dados/PySUS/sim_data_cleaned_2020.csv")
sim20['ANO'] = 2020
sim21 = pd.read_csv("../Dados/PySUS/sim_data_cleaned_2021.csv")
sim21['ANO'] = 2021

# merge dos dados
sim = pd.concat([sim19, sim20, sim21])